#users {
	display: grid;
	gap: 2rem 5rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-column: content;
	height: fit-content;
}

.card {
	display: grid;
	justify-items: center;
	background-color: var(--secondair-background-color);
	border-radius: 2rem;
	padding: 1rem 1.5rem;
}

.card h2 {
	margin-bottom: 2rem;
}

.card a {
	margin-bottom: 1rem;
}

.filter {
	display: block;
	padding: 0.5rem 0.75rem;
	background-color: var(--secondair-text-color);
	color: var(--text-color);
	transition: 0.3s;
}

[theme-mode="light"] .filter:hover {
	filter: brightness(80%);
}

[theme-mode="dark"] .filter:hover {
	filter: brightness(120%);
}
