html,
body {
	height: 100%;
}

button {
	margin: 1rem 0;
}

.container {
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto auto auto 1fr auto;
	justify-items: center;
	align-items: start;
}

.headerwrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	grid-row: 2;
	height: 100%;
	width: 100%;
}

.pumping-heart {
	width: 80px;
	animation: pulse 1s infinite;
	fill: red;
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.3);
	}
}

.link {
	text-align: center;
}
