body {
	display: grid;
	grid-template-rows: auto 1fr;
	align-items: center;
}

.dropdown {
	position: relative;
}

.dropdown input {
	padding: 0.5rem 1rem;
	border: none;
}

.dropdown input:focus {
	outline: none;
}

.dropdown input:focus + .optionWrapper,
.dropdown .optionWrapper:hover {
	display: block;
}

.dropdown .optionWrapper {
	display: none;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.dropdown .optionWrapper input {
	display: none;
}

.dropdown .optionWrapper > label {
	display: block;
	padding: 0.5rem 1rem;
	background: var(--secondair-background-color);
	filter: brightness(120%);
}

[theme-mode="light"] .dropdown .optionWrapper > label:hover {
	filter: brightness(80%);
}

[theme-mode="dark"] .dropdown .optionWrapper > label:hover {
	filter: brightness(150%);
}
